<!DOCTYPE html>
<html>
    <head>
        <title> DASHBOARD </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
          
    </head>
    <body>
        <h1 align="center">HELLO FROM VEHICAL MANAGEMENT SYSTEM </h1> &nbsp;
        <div align="center">
                <div> <a href="{{ baseUrl }}/Home/registervehical?id={{ userid }}"><input type="button" name="registervehical" value="REGISTER VEHICAL SERVICE"></a></div>
        </div>
    </body>
</html>