#Remove index.php from the request but maintain the query string
ReWriteEngine On
ReWriteBase /cybercom/PHP_PRO_MVC_FRAMEWORK/PHP-PRO-MVC-FRAMEWORK/11th_Feb_Practices/Public
ReWriteCond %{REQUEST_FILENAME} !-f
ReWriteCond %{REQUEST_FILENAME} !-d
ReWriteRule ^(.*)$ index.php?$1 [L,QSA]